.vagrant
testbackend/node_modules
frontend/dist
bower_components
_vendor/pkg
!/vendor/_loader.js

# compiled output
/dist
/tmp

# dependencies
/node_modules
/vendor/*

# misc
/.sass-cache
/connect.lock
/libpeerconnection.log
.DS_Store
Thumbs.db
/coverage/*
npm-debug.log
testem.log
