@import 'vendor/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

html, body {
  margin: 30px 0;
}

.spinner {
  padding-top: 150px;
}

.data-table-body tr {
  cursor: pointer
}

@import 'frontend/css/stacks.scss';
