{{#form-for model}}
  {{input fragment label="Path"}}
  {{input limit}}
  {{input seconds}}
{{/form-for}}
<p><button id="save" {{action "save" model}}>Save</button></p>
<p>{{#link-to 'paths'}}Cancel{{/link-to}}</p>
