{{#modal-dialog title="New API" save="save" modelToSave=model cancel="cancel" saveDisabled=saveDisabled}}
{{#form-for model}}
  {{input fragment label="Path"}}
  {{#if appsReady}}
    {{input app as='select'
      collection='apps'
      optionValuePath='content.id'
      optionLabelPath='content.name'
      prompt='Select Application'
      selection='app'
    }}
  {{else}}
    <span>Loading Apps</span>
  {{/if}}
{{/form-for}}
{{/modal-dialog}}
