{{#data-table title="Configured Apis" columnHeaders=headers}}
  {{#each item in apisToShow}}
    <tr class="path">
      <td>{{item.path}}</td>
      <td>{{item.app.name}}</td>
    </tr>
  {{/each}}
{{/data-table}}

{{outlet}}
